body {
	counter-reset: h2;
}

h2 {
	counter-reset: h3;
}

h3 {
	counter-reset: h4;
}

h4 {
	counter-reset: h5;
}

article[autonumbering] h2:before {
	counter-increment: h2;
	content: counter(h2) ". ";
}

article[autonumbering] h3:before {
	counter-increment: h3;
	content: counter(h2) "." counter(h3) " ";
}

article[autonumbering] h4:before {
	counter-increment: h4;
	content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

article[autonumbering] .toc ul {
	counter-reset: item
}

article[autonumbering] .toc li a:before {
	content: counters(item, ".") " ";
	counter-increment: item
}

:root {
	--nav-width: 1380px;
	--article-width: 650px;
	--toc-width: 300px;
}

.toc {
	margin: 0 2px 40px 2px;
	border: 1px solid var(--border);
	background: var(--entry);
	border-radius: var(--radius);
	padding: 0.4em;
}

.toc summary {
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.toc-container.wide {
	position: absolute;
	height: 100%;
	left: calc((var(--toc-width) + var(--gap)) * -0.92);
	top: calc(var(--gap) * 1);
	width: var(--toc-width);
}

.wide .toc {
	position: sticky;
	top: var(--gap);
	border: unset;
	background: unset;
	border-radius: unset;
	width: 100%;
	margin: 0 2px 40px 2px;
}

.toc .details {
	display: inline;
	font-weight: 600;
}

.toc details summary {
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: 600;
	display: flex;
	align-items: center;
	list-style: none;
}

/* .toc details summary::before {
	content: "📑";
	margin-right: 8px;
	font-size: 1.3em;
	vertical-align: middle;
} */

.toc details summary::-webkit-details-marker {
	display: none;
}

.toc details[open] summary {
	font-weight: 500;
}

.toc-container.wide .toc .inner {
	margin: 0;
}

.toc ul {
	list-style-type: circle;
}

.toc .inner {
	margin: 0 0 0 20px;
	padding: 0px 15px 15px 20px;
	font-size: 16px;
}

.toc li ul {
	margin-inline-start: calc(var(--gap) * 0.5);
	list-style-type: none;
}

.toc li {
	color: var(--secondary);
	list-style: none;
	font-size: 16px;
	padding-bottom: 5px;
}

.toc li .active {
	margin-inline-start: 5px;
	color: rgb(49, 184, 204, 0.8);
	border-bottom-color: rgb(49, 184, 204);
}

.toc li a:hover {
	color: rgb(49, 184, 204, 0.8);
	border-bottom-color: rgb(49, 184, 204);
}

/* Progress Bar */
.progress-bar {
	background: linear-gradient(to right, rgba(226, 107, 86, 0.87) 0%, rgba(226, 107, 86, 0.86) 100%);
	height: 2px;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	z-index: 9999;
	transition: width 0.2s ease-out;
}

/* Latest Posts */
.recent-container {
	margin: 10px 0 0 0;
}

.recent-container.wide {
	position: absolute;
	height: 100%;
	right: calc((var(--toc-width) + var(--gap)) * -0.92);
	top: calc(var(--gap) * 1);
	width: var(--toc-width);
}

.wide .recent {
	position: sticky;
	top: var(--gap);
	border: unset;
	background: unset;
	border-radius: unset;
	width: 100%;
	margin: 0 2px 40px 2px;
}

.recent details summary {
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: 600;
	display: flex;
	align-items: center;
}

/* .recent details summary::before {
	content: "📰";
	margin-right: 8px;
	font-size: 1.2em;
	vertical-align: middle;
} */

.recent-post-item a {
	color: var(--secondary);
	text-decoration: none;
	transition: color 0.3s ease;
	margin-left: 15px;
	font-size: 16px;
	border-bottom: 1px solid transparent;
}

.recent-post-item a:hover {
	color: rgb(49, 184, 204, 0.8);
	border-bottom-color: rgb(49, 184, 204);
}

/* Mobile */
@media screen and (max-width: 1400px) {
	.recent-container.wide {
		display: none;
	}
}