{{- /* Head custom content area start */ -}}
{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear in the

<head></head> section of every page. */ -}}
{{- /* Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<!-- FancyBox -->
{{if .Page.Site.Params.fancybox }}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{{ end }}

{{ if .Page.Site.Params.math }}
<script>
	MathJax = {
		tex: {
			inlineMath: [['\\(', '\\)'], ['$', '$']],
			displayMath: [['$$', '$$'], ['\\[', '\\]']],
			processEscapes: true,
			processEnvironments: true
		},
		options: {
			skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
		}
	};
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ end }}

{{ if .Page.Site.Params.progressbar }}
<div class="progress-bar"></div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const progressBar = document.querySelector('.progress-bar');

    const calculateScrollProgress = () => {
        const windowHeight = window.innerHeight;
        const documentHeight = document.documentElement.scrollHeight - windowHeight;
        const scrollTop = window.scrollY;
        const progress = (scrollTop / documentHeight) * 100;
        progressBar.style.width = `${progress}%`;
    };

    window.addEventListener('scroll', calculateScrollProgress);

    calculateScrollProgress();
});
</script>
{{ end }}